.bg-color {
    background-color: #E9ECEF;
}

.urunler {
    margin-top: 20px;
}

.card-img-top {
    height: 150px;
    width: 150px;
}

.card {
    margin-bottom: 10%;
}

.btn {
    margin-bottom: 0px
}

.card-img {
    width: 100%;
    height: 200px;
}